<div class="content-heading">
   <div>Doctor Dashboard
      <small data-localize="dashboard.WELCOME"></small>
   </div>
   <!-- START Language list-->
   <div class="ml-auto">
      <div class="btn-group">
         <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">Actions</button>
         <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu"><a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a>
         </div>
      </div>
   </div>
   <!-- END Language list-->
</div>

<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-12">
        <!-- START date widget-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-green justify-content-center rounded-left">
            <div class="text-center">
                <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                <div class="text-sm" data-now="" data-format="MMMM"></div>
                <br/>
                <div class="h2 mt-0" data-now="" data-format="D"></div>
            </div>
            </div>
            <div class="col-8 py-3 rounded-right">
            <div class="text-uppercase" data-now="" data-format="dddd"></div>
            <br/>
            <div class="h2 mt-0" data-now="" data-format="h:mm"></div>
            <div class="text-muted text-sm" data-now="" data-format="a"></div>
            </div>
        </div>
        <!-- END date widget-->
    </div>
</div>