<!-- START Top Navbar-->
<nav class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <div class="brand-logo">
                <!-- <img class="img-fluid" src="" alt="App Logo"> -->
                Lukoma Clinic
            </div>
            <div class="brand-logo-collapsed">
                <!-- <img class="img-fluid" src="" alt="App Logo"> -->
                LC
            </div>
        </a>
    </div>
    <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!-- START Alert menu-->

         <!-- END Alert menu-->
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->
